%tr
  %td=race.date
  %td='%04i' % race.codex
  %td=link_to race.place, race_results_path(race)#, rewrite_params
  %td=race.discipline
  %td=race.age_group
  %td=race.category
  %td=race.comments
  %td=race.status
