%table.table.table-condensed.table-hover
  %tr
    %th Date
    %th Codex
    %th Place
    %th Discipline
    %th Age Category
    %th Race Category
    %th Comments
    %th Status
  =render :partial=> 'race', :collection => @races