.row
  .col-md-1 Season:
  .col-md-11=render :partial => 'shared/season', :collection => (Season.fmc_earliest..Season.current.to_i).to_a
.row
  .col-md-1 Category:
  .col-md-11=render :partial => 'shared/age_group', collection: AgeClass::AGE_GROUPS
.row
  .col-md-1 Age Class:
  .col-md-11=render :partial => 'shared/age_class', :collection => ['All']+AgeClass.new(params.slice :age_group).classes
.row
  .col-md-1 Discipline:
  .col-md-11=render :partial => 'shared/discipline', :collection => ['All', 'Super G', 'Giant Slalom', 'Slalom']
