%tr{:style => "font-weight: #{competitor[:results].size < 6 ? 'normal' : 'bold'};"}
  %td{:align => :right}
    =competitor[:rank]
  %td
    ="(t)" if competitor[:tie]
  %td{:align => :right}
    =competitor[:fis_code]
  %td
    %a{:href => competitor[:href]}
      =competitor[:name]
  %td
    =competitor[:year]
  %td{:align => :right}
    =competitor[:nation]
  %td{:align => :right}
    =competitor[:cup_points]
  %td
    %table
      %tr
        =render :partial => 'result', :collection => competitor[:results]