%tr{:style => "font-weight: #{competitor.qualified? ? 'bold' : 'normal'};"}
  %td{:align => :right}
    =competitor.rank
  %td
    =competitor.fis_code
  %td
    %a{:href => competitor.href}
      =competitor.name
  %td
    =competitor.year
  %td
    =competitor.nation
  %td{:align => :right}
    =competitor.cup_points
  -if tie_breaker && params[:age_class] != 'All'
    %td{:align => :right}
      -if competitor.tie
        ='%.2f' % competitor.race_points
  %td
    =render :partial => 'result', :collection => competitor.season_results, :locals => {:tie => (competitor.tie and tie_breaker)}
