%h2
  = "Class " + age_category(params[:gender], params[:category].to_i)

%p
  Competitors in
  %b bold
  are qualified for the FMC by having finished 6 races.  

%table
  %tr
    %th Rank
    %th
    %th FIS Code
    %th Name
    %th Year
    %th Nation
    %th Cup Points
    %th Finishes
  =render :partial=> 'competitor', :collection => @competitors