%h2
  = "Class " + age_class(params[:season], params[:gender], params[:age_class])
  = "Final" if season_completed?

-if showing_both?
  %p
    Competitors in
    %b bold
    are qualified for the FMC by having finished at least #{season.min_races} races.
      
-if elimination_phase?
  %p
    -if params[:filter] == 'all'
      =link_to "hide eliminated", pass_params(:contention), {:title => season_completed? ? 'Shows the final standings' : 'Shows only competitors who still have a chance to complete the required minimum number of races till the end of the season'}    
    -else
      =link_to "show eliminated", pass_params(:all), {:title => "Includes competitors who did not qualify for the FMC"}

%table
  %tr
    %th Rank
    %th FIS Code
    %th Name
    %th Year
    %th Nation
    %th Cup Points
    -if tie_breaker
      %th Race Points Sum
    %th Finishes
  =render :partial=> 'competitor', :collection => @competitors, :locals => {:tie_breaker => tie_breaker}