%h1 Alpine FIS Masters Standings for the current season
%p Please select a class below. Note all race data is downloaded from the official FIS site. There may be up to 1 hour delay after race results are published on fis-ski.com before they are reflected in the standings.
%table
  -['Men', 'Ladies'].each do |gender|
    %tr
      %td
        ="#{gender}:"
      =render :partial => 'welcome/category', :collection => 1..13, :locals => { :gender => gender[0,1]}