%tr
  %td=result.rank
  %td=link_to result.competitor.name, competitor_url(result.competitor, discipline: result.race.discipline)
  %td=result.competitor.year
  %td=result.competitor.nation
  %td=result.time || result.failure
  %td=result.competitor.fis_points
  %td=result.race_points
  %td=result.fis_points if result.successful?
