%h2
  =@race.place
  =@race.date
  =@race.discipline
  =@race.age_group
  Penalty:
  =@race.penalty

%table.table.table-condensed.table-hover
  %tr
    %th Rank
    %th Name
    %th Year
    %th Nation
    %th Time
    %th FIS Points at Start
    %th Race Points
    %th FIS Points
  =render partial: 'result', collection: @results