%span{:style => "text-decoration: #{considered(result_counter, result) ? 'none' : 'line-through'}; #{'font-weight: normal;' unless considered(result_counter, result)}"}
  %a{href: fis_race_href(result.race.href), 'data-toggle' => :tooltip, title: true, 'data-original-title' => details(result)}
    ="#{result.ranking || result.failure}#{'*' if result.race.factor > 1}"
