%tr
  %td=result.race.place
  %td=result.race.date
  %td=result.race.discipline
  %td=result.race.season
  %td=result.race.category
  %td=result.race_points || result.failure
  %td=result.race.penalty
  %td=result.failure || result.fis_points
