!!!
%html
  %head
    %title FIS Masters Cup
    = stylesheet_link_tag    'application', media: 'all'#, 'data-turbolinks-track' => true
    = javascript_include_tag 'application'#, 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container-fluid
      .row
        .col-md-12
          %h1 FIS Masters Cup
          -#=render :partial => 'welcome/menu'
          =render :partial => 'welcome/index'
          .notice=flash[:notice]
          .alert=flash[:alert]
      .row
        .col-md-9{role: :main}
          =yield
      %p Standings are not official. Errors and omissions excepted.
      %p
        Please send any questions and suggestions to
        %a{:href => 'mailto:heinrich@mail.com'} heinrich@mail.com
    %script(type="text/javascript")
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    %script(type="text/javascript")
      try {
      var pageTracker = _gat._getTracker("UA-13125745-2");
      pageTracker._setDomainName("none");
      pageTracker._setAllowLinker(true);
      pageTracker._trackPageview();
      } catch(err) {}       