!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", :'xml:lang' => "en"}
  %head
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
  %body
    =render :partial => 'welcome/index'
    =yield
    %p Standings are not official. Errors and omissions excepted.
    %p
      Please send any questions and suggestions to
      %a{:href => 'mailto:heinrich@mail.com'} heinrich@mail.com
    %script(type="text/javascript")
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    %script(type="text/javascript")
      try {
      var pageTracker = _gat._getTracker("UA-13125745-2");
      pageTracker._setDomainName("none");
      pageTracker._setAllowLinker(true);
      pageTracker._trackPageview();
      } catch(err) {}       